@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Poppins:wght@500&display=swap');

* {
    margin: 0; /*Removendo margem padrão do navegador*/
    padding: 0; /*Removendo padding padrão do navegador*/
}

body {
    height: 100vh; /*Informando o que o viewpoint será 100% da página em vertical*/
    box-sizing: border-box; /*Informando o comportamento do tamanho da caixa para nada sair dela*/
    background-color: #000000; /*Definindo cor de fundo do body*/
    color: #F6F6F6; /*Atribuindo a cor padrão dos textos dentro do body para branco*/

}

.titulo-destaque {
    color: #22D4FD; /*Dando destaque na coloração da tag STRONG*/
}


.apresentacao {
    display: flex; /*Atribuindo a disposição dos elementos dentro do main como flex*/
    align-items: center; /*Informando o alinhamento dentro do main para centralizar*/
    justify-content: space-between; /*Justificando os elementos com espaço entre eles*/
    margin: 10% 15%; /*Atribuindo margem para os elementos. Primeiro se refere ao espaço vertical, segundo ao horizontal.*/
    gap: 10px; /*Atribuindo espaçamento entre os elementos do mesmo tipo*/
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Poppins', sans-serif;

}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links_link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #22D4FD;
    padding: 16.5px 0;

    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;

    text-decoration: none;
    color: #F6F6F6;

}